:80 {

    @options {
        method OPTIONS
    }
    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Credentials true
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        defer
    }
    reverse_proxy api-gateway:8222 {
        header_down -Access-Control-Allow-Origin
    }
    respond @options 204
}
