server:
  port: 8222

spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: customer-service
          uri: lb:http://CUSTOMER-SERVICE
          predicates:
            - Path=/api/v1/customer/**
        - id: billing-service
          uri: lb:http://BILLING-SERVICE
          predicates:
            - Path=/api/v1/billing/**
        - id: payment-service
          uri: lb:http://PAYMENT-SERVICE
          predicates:
            - Path=/api/payment/**
        - id: sritel-service
          uri: lb:http://SRITEL-SERVICE
          predicates:
            - Path=/api/v1/service/**

      globalcors:
        cors-configurations:
          '[/**]': # Apply CORS to all paths
            allowedOrigins: "http://localhost:3000" 
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
            allowedHeaders:
              - "*"
            allowCredentials: true # Allow credentials (such as cookies or authorization headers)

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://keycloak.raviyax.site/realms/sritel

logging:
  level:
    org.springframework.web: DEBUG  
    root: INFO 
    org.springframework.cloud.gateway: DEBUG